<% provide(:title, @user.name) %>
<div class="row">
  <div class="column1">
    <div class="wrapper"> <%= gravatar_for @user %>
    </div>
  </div>
  <div class="column2">
    <ul>
      <div class="user-wrapper">
        <h2 class="username"><%=@user.name%></h2>
        <%= render 'follow_form' if signed_in? %>
      </div>
      <ul class="posts-1">
        <li><span><%= @user.microposts.count %></span> posts</li>
        <li><span><%= @user.followers.count %></span> followers</li>
        <li><span><%= @user.followed_users.count %></span> following</li>
      </ul>
      <% if @user.bio.nil? || @user.bio == '' || @user.bio == ' ' %>
      <div class="bio">
        <p class="bio-p">Hey! This is "<%=@user.name%>". This is my instaclone account. Follow me to know about me!!</p>
      </div>
      <% else %>
      <div class="bio">
        <p class="bio-p"><%= @user.bio %></p>
      </div>
      <% end %>
      <% if current_user?@user %>
      <div class="edit-bio">
        <%= link_to '<i class="gg-edit-markup"></i>'.html_safe, edit_user_path(current_user), class: 'link-to-text-color' %>
      </div>
      <div class="saved">
        <%= link_to '<i class="gg-bookmark"></i>'.html_safe, favorites_path, class: 'link-to-text-color' %>
      </div>
      <% end %>
    </ul>
</div>
</div>

<hr class="hr-line">
<div class="row">
  <div class="column3">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
      <% end %>
    </div>
</div>
