
<%= link_to current_micropost_path(micropost.id) do %>
<div class="gallery">
<li>
  <div class="img">
    <%= image_tag(micropost.image) %>


    <div class="overlay">
    <div class= "text1"><p><span class="heart-symbol">&#10084;</span><span class="heart-count"><%= micropost.get_upvotes.size%> | </span><span class="comments-symbol">&#128172;</span><span class= "heart-count"><%= micropost.comments.count %></span></p></div>
    </div>

  </div>


  <div class="desc">
  <span class="caption"><%= link_to  micropost.caption, current_micropost_path(micropost.id), class: "link-to-text-color" %></span><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", delete_micropost_path(micropost), method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.image, class: 'link-to-text-color' %>
  <% end %>
  </div>
</li>
</div>
<% end %>
