<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="navbar navbar-fixed-top navbar-default">
  <div class="navi">
    <div class="container">
      <ul class="nav pull-left">
      <li><%= link_to "InstaClone", root_path, id: "logo" %></li>
      </ul>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
          <li class="nav pull-left">
            <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left', id: "searchbar") do %>
              <div class="form-group">
                <%= search_field_tag :search, params[:search], placeholder: " Search", class: "form-control" %>
                </div>
            <% end %>
          </li>
            <li><%= link_to '<i class="gg-instagram"></i>'.html_safe, root_path %></li>
            <li><%= link_to '<i class="gg-profile"></i>'.html_safe, current_user %></li>
            <li><%= link_to '<i class="gg-boy"></i>'.html_safe, users_path %></li>
            <li><%= link_to '<i class="gg-comment"></i>'.html_safe, conversations_path, class: "item" %></li>
            <li class="divider"></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn"><i class="gg-chevron-double-down-r"></i></a>
              <div class="dropdown-content">
                <%= link_to "Edit", edit_user_path(current_user) %>
                <%= link_to "Help", help_path %>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </div>
            </li>
          <% else %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
